<% include header %>

<img class="logo" src="/img/logo.png" alt="YOUREDM">

<% include navigatie %>

<h1 class="over">ABOUT US</h1>

<img class="imgover" src="/img/about.png" alt="YOUREDM">

<p>Throughout the past five years Your EDM has developed and established its online media property, YourEDM.com, as the most reputable, visited and recognized publication in the world of Electronic Dance Music. With over 8 million monthly visitors, YourEDM.com has continuously sought to deliver the most up to date, accurate and poignant news related to the EDM scene. </p><p>Based out of Seattle, Washington with an ever-growing staff of journalists, photographers, and videographers from around the country YourEDM.com has been capable of creating and maintaining unparalleled coverage of this ever-growing industry. Below are the active members of our team. If you need to contact us, click on Contact.</p>


<% include footer %>
