<% include header %>

<img class="logo" src="/img/logo.png" alt="YOUREDM">

<% include navigatie %>

<h1 class="auteurs">Autors</h1>

<div class="auteur">
  <a href="#"><img src="img/matthew.jpg" alt="Matthew Meadow"></a>
  <h1>Matthew Meadow</h1>
  <h2>Editor-in-Chief</h2>
  <p>Lover of all bass music. I'm not afraid to speak my mind and put it to paper, and I do it often. I call Los Angeles my home, there's no better place for emerging EDM. Get in touch with me more via email or Twitter.</p>
</div>

<div class="auteur">
  <a href="#"><img src="img/karlie.png" alt="Karlie Powell"></a>
  <h1>Karlie Powell</h1>
  <h2>Blogger</h2>

</div>

<div class="auteur">
  <a href="#"><img src="img/christian.jpg" alt="Christian Naccaratomay"></a>
  <h1>Christian Naccaratomay</h1>
  <h2>Blogger</h2>
</div>

<% include footer %>
