<nav class="navigatie">
  <a class="home" href="/">HOME</a>
  <a class="about" href="/about">ABOUT</a>
  <a class="contact" href="/contact">CONTACT</a>
  <a class="AUTORS" href="/autors">AUTORS</a>
</nav>
